<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grocery delivery | Cornershop</title>
    <link rel="icon" href="https://apprecs.org/ios/images/app-icons/256/a3/995060131.jpg">
    <link rel="stylesheet" href="/CSS/index.css">
    <link rel="stylesheet" href="/CSS/index-mediaqueries.css">
</head>
<body>
    <main class="cont-principal">

        <nav class="main-navbar">
            <a href="" class="link">Cornershop</a>
            <a href="" class="link">Become a Shopper</a>
            <a href="" class="link">Publish your store</a>
            <a href="" class="link">Help</a>
        </nav>
        <!--Introduction-->
        <section class="introduction">
            <div class="content">
                <header>
                    <a class="logo" href="/HTML/index.html">
                        <img src="/Imagenes/logo-CornerShop.png" alt="Cornershop by Uber">
                    </a>
                </header>
                <h1>Tus pedidos del súper a tu puerta</h1>
                <div class="see-stores">
                    <a href="/tiendas" onclick="">Ver tiendas</a>
                </div>
                <div class="log-in">
                    <span>¿Tienes una cuenta?
                        <a href="/es/accounts/login/?new_registration_flow">Ingresar</a>
                    </span>
                </div>
            </div>
        </section>
        <!--Apps-->
        <section class="apps">
            <div class="content">
                <header class="fondo-apps">
                    <h2>Descarga la app</h2>
                    <ul>
                        <li>
                            <a href="">
                                <img src="/Imagenes/Download_on_the_App_Store_Badge - Español.svg" width="209" alt="">
                            </a>
                        </li>
                        <li>
                            <a href=""></a>
                                <img src="/Imagenes/google-play-badge.png" width="209" alt="">
                        </li>
                    </ul>
                </header>
            </div>
        </section>
        <!--How it works-->
        <section class="how-it-works">
            <div class="content">
                <header>
                    <h2>Cómo funciona</h2>
                </header>    
                <ul class="steps">
                    <li>
                        <figure>1</figure>
                        <h2>Explora tus tiendas favoritas</h2>
                        <p>Agrega productos de tus tiendas favoritas al carro.</p>
                    </li>
                    <li>
                        <figure>2</figure>
                        <h2>Un Shopper hace el pedido como tú lo harías</h2>
                        <p>¿Plátanos maduros o verdes? Dile a tu Shopper cómo los quieres y te los llevará.</p>
                    </li>
                    <li>
                        <figure>3</figure>
                        <h2>Entregamos tu pedido en el mismo día</h2>
                        <p>¿Necesitas tu pedido para después? Puedes programarlo.</p>
                    </li>
                </ul>
            </div>
            <footer>
                <img src="/Imagenes/Fruit_2x .jpg" alt="Imagen de frutas" class="fruit" id="frutas" width="320">
            </footer>
        </section>
        <!--Links-->
        <section class="links">
            <div class="content">
                <ul class="stories">
                    <li class="for-shopper">
                        <a href="">
                            <header>
                                <span>Tú eliges cuándo y cuánto conectarte</span>
                                <h2>
                                    Sé un Shopper
                                    <i width="32" heigth="32" class="fa-solid fa-circle-arrow-right"></i>
                                </h2>
                            </header>
                        </a>
                    </li>
                    <li class="for-stores">
                        <a href="">
                            <header>
                                <span>Desde tu tienda hasta la puerta de los clientes</span>
                                <h2>
                                    Publica tu tienda
                                    <i width="32" heigth="32" class="fa-solid fa-circle-arrow-right"></i>
                                </h2>
                            </header>
                            </a>
                        </header>
                    </li>
                </ul>
                <ul class="stories-single">
                    <li>
                        <a href="">
                            <header>
                                <span class="ayuda">¿Necesitas ayuda?</span>
                                <h2>
                                    Preguntas Frecuentes
                                    <i width="32" heigth="32" class="fa-solid fa-circle-arrow-right"></i>
                                </h2>
                            </header>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
        <footer class="footer">
            <div class="footer-content">
                <figure class="footer-column logo-cornershop">
                    <img src="https://s.cornershopapp.com/static/logos/logo-cornershop-by-uber-black-nobg.svg" width="180" height="64" alt="Logo Cornershop by Uber - ES" id="logo-footer">
                </figure>
                <nav class="footer-column">
                    <strong class="nav-title">Acerca de Cornershop</strong>
                    <ul>
                        <li>
                            <a href="/es/contact">Contacto</a>
                        </li>
                        <li>
                            <a href="https://media.cornershopapp.com/es/terms/">Términos de servicio</a>
                        </li>
                        <li>
                            <a href="https://media.cornershopapp.com/es/privacy/">Privacidad</a>
                        </li>
                        <li>
                            <a href="https://privacy.cornershopapp.com/dont-sell-data">No vender mis datos</a>
                        </li>
                        <li>
                            <a href="/es/apps">Aplicaciones</a>
                        </li>
                        <li>
                            <a href="/es/jobs">Trabajos</a>
                        </li>
                        <li>
                            <a href="/es/stores">Para tiendas</a>
                        </li>
                    </ul>
                </nav>
                <nav class="footer-column">
                    <strong class="nav-title">Social media</strong>
                    <ul>
                        <li>
                            <a href="/es/press">Recursos de Prensa</a>
                        </li>
                    </ul>
                </nav>
                <nav class="footer-column">
                    <ul class="apps">
                        <li>
                            <a href="https://app.appsflyer.com/id995060131/?pid=cornershop&amp;c=cornershop&amp;af_sub1=customer-landing&amp;af_sub2=723663339.1663244967&amp;af_sub3=056fb24f-e5eb-476d-9fba-7daf1526aa4f" title="Descarga desde la App Store">
                                <img src="/Imagenes/Download_on_the_App_Store_Badge - Español.svg" width="115" height="38" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="https://app.appsflyer.com/com.cornershopapp.android/?pid=cornershop&amp;c=cornershop&amp;af_sub1=customer-landing&amp;af_sub2=723663339.1663244967&amp;af_sub3=056fb24f-e5eb-476d-9fba-7daf1526aa4f" title="Android app en Google Play">
                                <img src="/Imagenes/google-play-badge.png" width="115" height="38" alt="">
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <section class="copyright-phrase">
                <p>© 2022 Cornershop by Uber</p>
            </section>
        </footer>
    </main>
    <script src="https://kit.fontawesome.com/dd5e87f640.js" crossorigin="anonymous"></script>
</body>
</html>