<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orden | Cornershop</title>
    <link rel="stylesheet" href="/CSS/orden.css">
</head>
<body>
    <div class="container">
        <header>
            <div> 
                <a href="/HTML/listado-tiendas.html">
                    <a href="/tiendas">
                        <button class="btn">Volver a las tiendas</button>
                    </a>
                </a>
            </div>
            <div>
                <img class="logo" src="https://lever-client-logos.s3.us-west-2.amazonaws.com/1c86bfb3-cab0-4255-99bf-24c5488d888a-1632765661247.png" width="350" height="200" alt="">
            </div>
            <div>
                <a href="/HTML/carrito-de-compras.html">
                    <a href="/carrito">
                        <button>Volver al carrito</button>
                    </a>
                </a>
            </div>
            </div>
        </header>
        <main>
            <div class="cont-img">
                <div>
                    <img width="150" height="150" src="https://static.thenounproject.com/png/1890467-200.png" alt="">
                    <h3 class="verde">Pagado</h3>
                </div>
                <div class="gris">
                    <img width="150" height="150" src="https://www.vansdirect.co.uk/wp-content/uploads/2017/01/icon-delivery.png" alt="">
                    <h3>En camino</h3>
                </div>
                <div class="gris">
                    <img width="150" height="150" src="https://cdn2.iconfinder.com/data/icons/shipping-and-delivery-solid-collection/60/15_-_Shipping_and_Delivery_-_Solid_-_Delivered_Package-512.png" alt="">
                    <h3>Entregado</h3>
                </div>
            </div>
            <div class="cont-detalles">
                <div>
                    <h4>NUMERO DE ORDEN: |</h4>
                    <small>
                        <strong>blabla</strong>
                    </small>
                </div>
                <div>
                    <h4>DATE: |</h4>
                    <small>
                        <strong>blabla</strong>
                    </small>
                </div>
                <div>
                    <h4>TOTAL: |</h4>
                    <small>
                        <strong>blabla</strong>
                    </small>
                </div>
                <div>
                    <h4>METODO DE PAGO: |</h4>
                    <small>
                        <strong>blabla</strong>
                    </small>
                </div>
            </div>
            <div class="cont-info">
                <ul>
                    <li>blabla</li>
                    <li>blabla</li>
                    <li>blabla</li>
                    <li>blabla</li>
                </ul>
            </div>
        </main>
    </div>
</body>
</html>