*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
}

.container-header {
    background-color: #1c1c1e;
}

.navigation-bar {
    position: sticky;
    top: 0;
    z-index: 12;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.4rem 1rem; 
    margin-top: 0.5rem;
}

.navigation-bar button  {
    background: transparent;
    border: none;
    color: rgb(224, 45, 45);
    padding: 0rem;
    font-size: 1.2em;
}

.navigation-bar .title {
    color: white;
    font-size: 1em;
}

.large-title {
    color: white;
    display: none;
}

.header {
    position: sticky;
    top: 35px;
    z-index: 10;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.header .searchbar {
    margin: 0.5rem;
}

.header .searchbar .search-container {
    display: flex;
    padding: 0.5rem 0.8rem;
    background-color: rgb(58, 58, 58);
    border-radius: 12px;
}

.header .searchbar .search-container label i {
    color: grey;
    font-size: 1em;
}
.header .searchbar .search-container .search-input {
    padding-left: 1rem;
}

.header .searchbar .search-container input {
    background: transparent;
    border: none;
    font-size: 1em;
}

.header .cart-address {
    color: white;
    width: 60%;
}

.header .cart-address .button-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    background-color: #1c1c1e;
    border: none;
    color: gray;
    font-size: 1em;
}

.header .cart-address .button-flex .text {
    display: flex;
    flex-direction: column;
}

.stores-container {
    padding: 1rem 1rem 6.25rem;
}

.stores-container .stores-row-container {
    padding: 1rem 0;
}

.stores-container .stores-row-container .slider-1 {
}

.stores-container .stores-row-container .stores-group {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 12px;
}

.stores-container .stores-row-container h2, h4, p {
    color: white;
}

.stores-container .divider {
    border: 1px solid rgb(88, 88, 88);
}

.stores-container .stares-collections .stores-row-container .slider-scroll {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 12px;
}

.stores-container .stares-collections .stores-row-container .slider-scroll .slider {
    margin: 0 auto;
}

.stores-container .stares-collections .stores-row-container .slider-scroll .slider a {
    text-decoration: none;
}

.stores-container .stares-collections .stores-row-container .slider-scroll .slider img {
    border-radius: 12px;
}